<% cache @product do %>
<p id="notice"><%= notice %></p>
<%= link_to 'Back', products_path %>
<div class="row">
  <div class="col-md-4" align= "right"><%= image_tag(@product.image_url, width: "350", class: "img-zoom", data_zoom_image: @product.image_url) %></div>
  <div class="col-md-4">
<p>
  <h1><%= @product.name %></h1>
</p>
<p>
  <%= @product.description %>
</p>
<p>
  Price: <%= number_to_currency(@product.price) %>
</p>
<p>
  <%= @product.image_url %>
</p>
<p>
  <%= @product.colour %>
</p>
    <%= form_tag("/payments/create", remote: true) do %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>
  </div>
</div>
<% end %>
<%= render 'new_comment' %>
<%= render 'comments' %>