<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  Price: <%= number_to_currency(@product.price) %>
</p>
<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.colour %>
</p>
    <%= form_tag("/payments/create", remote: true) do %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
<%= render 'new_comment' %>
<%= render 'comments' %>